<h1>Guestbook</h1>
<a href="/user/new/">
        <button>
            Sign our Guestbook
        </button>
    </a>
<div id="container">
    
    <div id="allusercon">
        <ol>
        {{#each allUser}}
            <div class="infoBlock">
                <a href="/user/{{_id}}"> 
                    <li>
                        {{user}}<br>
                        {{password}}
                    </li> 
                </a>
            </div>
        {{/each}}
        </ol>
    </div>
</div>