<h1> Create New User</h1>

<form action="/user" method="POST">
    <input type="text" name="user" placeholder="user" /> <br>
    <input type="text" name="password" placeholder="password" /> <br>
    <input type="text" name="voyageId" value="{{voyageId}}" />
    <input type="submit" value="Save"/>
</form>