<h1> Create New User</h1>
<div id="container">
<form action="/user" method="POST">
    <input type="text" name="user" placeholder="Guest" /> <br>
    <input type="text" name="password" placeholder="Add a Note" /> <br>
    <input type="submit" value="Save"/>
</form>
</div>