/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
	--x: 0; /* controls transparency of elements that will be invisable on final product */
	--y: 1; /* transparency of elements that will be solid on final product */
	--z: 208, 211, 212,; /* color of the header and footer on hover, and leg left right containers */
	--a: .85; /*transparency of hovered elements*/
	--b: 173, 164, 174,;/*color of header footer*/
	--c: 255, 255, 255,; /*color of infoblocks*/
	--e: 0, 176, 240,; /*color or rows*/
	--f: ;
	--g: ;
 /* List of Colors of Icons 
 bike color 49, 133, 156
 walk color 255, 192, 0
 moto color 149, 55, 53
 train color 146, 208, 80
 plane color 96, 74, 123
 bus color 228, 108, 10
 boat color 0, 176, 240
 auto color 119, 147, 60
 */
}
html {
	background-image: url("/image/icons-of-travel.png");
	background-size: 50%;
	background-position: -20px;
	font: #000;
	display: flex;
	justify-content: center;
	height: 100%;	
}
body {
	background-color: rgba(137, 43, 226, var(--x));
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 98%;
	flex-direction: column;
	font-family: 'Shadows Into Light', cursive;

}
wrapper {
	background-color: rgba(0, 128, 0, var(--x));
	height: 98%;
	width: 98%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
header, footer {
	background-color: rgb(var(--b) var(--a));
	width: 100%;
	padding: 10px;
	font: black;
	margin: 2px;
	font-family: 'Shadows Into Light', cursive;
}

header, footer, .infoBlock, button, input, .row, .contained, .singleOnly, .adder{
	border-radius: 20px;
}

header:hover, footer:hover {
	background-color: rgba(var(--z) var(--a));
}
h1 {
	margin: 0 20px 0 20px;
	font-size: 2em;
}
h2 {
	font-size: 1.25em;;
}
h3 {
	font-size: .75em;
}
.infoBlock {
	background-color: rgba(var(--c) var(--y));
	border: 2px dotted rgb(190, 190, 190);
	margin: 5px;
	height: 100px;
	width: 100px;
	font-size: .75em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.infoBlock:hover {
	border: 2px dotted rgb(34, 34, 34);
	background-color: rgba(var(--c) var(--a));
}
a {
	color: rgb(0, 9, 39) ;
}
header h1 a, footer h1 a {
	color: whitesmoke;
}
header h1 a:hover, footer h1 a:hover {
	color: black;
}
#container {
	display: flex;
	justify-content: space-evenly;
	align-items: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(var(--e) var(--x));
	height: 75%;
	width: 95%;
}
#left, #playTable {
	background-color: rgba(var(--z) var(--y));
	height: 99.5%;
	width: 49%;
	margin: 1px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
}	
.singleOnly{
	background-color: rgba(var(--z) var(--y));
	padding: 1em;
}
.row {
	background-color: rgba(var(--e) var(--y));
	height: 25%;
	width: 99%;
	margin-top: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* .adder {
	background-color: rgba(var(--z) var(--y));
	height: 40px;
	width: 40px;
	margin: 5px;
	padding: 10px;
	text-align: center;
} */
button, input {
	background-color: rgb(240, 255, 224);
}
#allusercon ol, #allvoycon ol {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
}
#thumb {
	width: 20px;
}
.val, .data {
	display: inline;
}
.thumb {
	display: inline;
}
.hideLegName {
	display: none;
}

div h1 {
	font-weight: 900;
	margin: 15px;
	text-align: center;
}
#board {
	padding: 5px;
	width: 80%;
	display: flex;
	justify-content: center;
}
