<h1> Create New Legger</h1>
<form action="/legger" method="POST">
    <input type="text" name="leg" placeholder="leg" /> <br>
    <input type="text" name="hubInitial" placeholder="hubInitial" /> <br>
    <input type="text" name="hubTerminus" placeholder="hubTerminus" /> <br>
    <input type="Boolean" name="direction" placeholder="direction" /> <br>
    <input type="Boolean" name="oneWayOrRoundTrip" placeholder="oneWayOrRoundTrip" /> <br>
    <input type="text" name="methodOfTransport" placeholder="methodOfTransport" /> <br>
    <input type="number" name="costOfLeg" placeholder="costOfLeg" /> <br>
    <input type="submit" value="Save"/>
</form>