<h1> Create New Voyage</h1>
<div id="container">
<form action="/voyage" method="POST">
    <input type="text" name="nameTrip" placeholder="nameTrip" /> <br>
    <input type="text" name="whereFrom" placeholder="whereFrom" /> <br>
    <input type="text" name="whereTo" placeholder="whereTo" /> <br>
    <input type="date" name="dateStart" placeholder="dateStart" /> <br>
    <input type="date" name="dateEnd" placeholder="dateEnd" /> <br>
    <input type="boolean" name="flexibleDate" placeholder="flexibleDate" /> <br>
    <input type="submit" value="Save"/>
</form></div>